:root {
    --blue: #5143d9;
    --black: #0b0a12;
    --grey: #747579;
}

body {
    padding-top: 90px;
    /* match header height */
}

section{
    padding-bottom: 2.8rem;
}

p{
    color: var(--grey);
}

.logo {
    height: 40px;
}

.facilities:hover {
    color: var(--blue) !important;
}

.bg-color:hover {
    background-color: #edecfb;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
}

/* hero section style */

.grey-bg {
    background-color: #f5f5f6;
}

.profile {
    height: 2.5rem;
    width: 2.5rem;
}

/* .hero-section{
    padding-top: 50px !important; 
} */

.z-index-9 {
    z-index: 9;
}

.fill-primary {
    fill: #5143d9;
}

.opacity-7 {
    opacity: .7;
}

.hero-content p {
    color: var(--grey);
    line-height: 1.5;
    font-weight: 400;
}

.discover-btn {
    color: #5143d9 !important;
    background-color: #5143d91a !important;
    letter-spacing: .5px !important;
    font-weight: 500 !important;
}

.avatar {
    height: 3rem;
    width: 3rem;
}

.hero-content h6 {
    color: var(--black);
}

.fill-warning {
    fill: #f7c32e !important;
}

.bg-blur {
    backdrop-filter: blur(5px);
}

.music h4 {
    font-weight: 700;
    line-height: 1.25;
}

.music h6 {
    color: var(--grey);
}

.mt-n4 {
    margin-top: -1.6rem;
}

.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.icon-xl {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.9rem;
}

.mt-xl-n9 {
    margin-top: -11rem !important;
}

/* cupon style  */

.cupon-swiper .swiper-slide{
    height: auto;
}

.cupon-card {
    /* padding: 16px; */
    border-radius: 16px;
    background: #fff;
    border: 1px solid #eee;
    /* height: 100%; */
}

.cupon-card img {
    /* width: 110px; */
    width: 100%;
    height: 120px;
    object-fit: cover;
    /* border-radius: 12px; */
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.cupon-content h6 {
    font-weight: 600;
    margin-bottom: 4px;
}

.cupon-content p {
    color: var(--grey);

}

/* holiday Style */
.z-index-1{
    z-index: 1;
}

.mb-n5{
    margin-bottom: -3rem;
}

.me-n4{
    margin-right: -3rem;
}

.z-index-5{
    z-index: -5;
}

.fill-primary{
    color: #5143d9;
}

.holiday-content h2{
    color: var(--black);
}

.holiday-content p{
    color: var(--grey);
}

.opacity-2{
    opacity: .2
}

.icon-lg{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
}

.text-orange{
    color: #fd7e14;
    opacity: 1;
}

.bg-orange{
    background-color: #fff2e7;
}

.client{
    color: var(--grey);
}

.avtar{
    height: 2.5rem;
    width: 2.5rem;
}

.avatar-group>li:not(:last-child){
    margin-right: -0.8rem;
}

.w-40{
    width: 40px;
}

.hotel-card img{
    transition: all 0.3s linear;
}

.hotel-card:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.hotel-title:hover{
    color: var(--blue);
    cursor: pointer;
}

/* trip images style */

.greyScale{
    filter: grayscale(100%);
    transition: all 0.3s linear;
}

.greyScale:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.county span{
    color: var(--grey);
}

.county:hover{
    cursor: pointer;
}



/* footer style  */

.grey-text {
    color: var(--grey);
    font-weight: 700;
}

.h-30{
    height: 30px;
}

.bg-insta{
    background-color: #c22b72 !important;
}

.bg-twitter{
    background-color: #40bff5 !important;
}

.linkedIn-bg{
    background-color: #238cc8 !important;
}

/* offcanvas style */

.offcanvas-navbar.navbar-nav{
    flex-direction: column !important;
}

.offcanvas-navbar.navbar-nav .nav-link{
    padding: 8px 16px !important;
}
@media(max-width : 1200px) {
    header nav{
        display: none;
    }

    ul.services {
        display: none;
    }
}

@media(max-width : 1199px){
    .mt-xl-n9{
        margin-top: -130px !important;
    }
}

@media(max-width : 992px){
    .center-text{
        text-align: center;
    }
}